streamlit==1.31.1
pytube==15.0.0
requests==2.29.0
# base64==
python-dotenv==1.0.1
spotipy==2.23.0
# os==
# csv==
google-api-python-client==2.119.0
pandas==2.2.0
# re==
# time==
simplejson==3.19.2
streamlit_lottie==0.0.5
zipfile36==0.1.3
# shutil==
streamlit-feedback==0.1.2
